@model Tuple<List<Activity>, AppUser>
@{
    ViewBag.Title = "ActivityPage";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winku Social Network Toolkit</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

</head>
<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">
        <section>
            <div class="feature-photo">
                @if (Model.Item2.UserCoverImagePath != null)
                {
                    <figure><img src="@Model.Item2.UserCoverImagePath" alt=""></figure>
                }
                else
                {
                    <figure><img src="/Content/images/resources/timeline-1.jpg" alt="" /></figure>
                }
                @using (Html.BeginForm("AddCoverImage", "AppUser", new { area = "Administrator" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="edit-phto">
                        <i class="fa fa-camera-retro"></i>
                        <label class="fileContainer">
                            Edit Cover Photo
                            <input type="file" name="CoverPhoto" />
                        </label>
                        <button type="submit">Add</button>
                    </div>
                }
                <div class="container-fluid">
                    <div class="row merged">
                        <div class="col-lg-2 col-sm-3">
                            <div class="user-avatar">
                                <figure>
                                    <img src="@Model.Item2.UserImagePath" alt="">
                                    @using (Html.BeginForm("AddDisplayImage", "AppUser", new { area = "Administrator" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="edit-phto">
                                            <i class="fa fa-camera-retro"></i>
                                            <label class="fileContainer">
                                                Edit Display Photo
                                                <input type="file" name="DisplayPhoto" />
                                            </label>
                                            <button type="submit">Add</button>
                                        </div>
                                    }

                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-9">
                            <div class="timeline-info">
                                <ul>
                                    <li class="admin-name">
                                        <h5>@Model.Item2.UserName</h5>
                                    </li>
                                    <li>
                                        <a class="active" href="/Home/TimeLine/@Model.Item2.ID" title="" data-ripple="">Time line</a>
                                        <a class="" href="/Home/TimeLineFriend/@Model.Item2.ID" title="" data-ripple="">Time line Friend</a>
                                        <a class="" href="/Home/TimelinePhoto/@Model.Item2.ID" title="" data-ripple="">Photos</a>
                                        <a class="" href="/Home/TimelineVideo/@Model.Item2.ID" title="" data-ripple="">Videos</a>
                                        <a class="" href="/Home/Friends/@Model.Item2.ID" title="" data-ripple="">Friends</a>
                                        <a class="" href="/Home/TimelineGroup/@Model.Item2.ID" title="" data-ripple="">Groups</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" id="page-contents">
                                <div class="col-lg-3">
                                    <aside class="sidebar static">
                                        @{ Html.RenderAction("_HashtagList", "Home");}
                                        @{ Html.RenderAction("_WhoToFollowList", "Home");}
                                    </aside>
                                </div><!-- sidebar -->
                                <div class="col-lg-6">
                                    <div class="central-meta">
                                        <div class="groups">
                                            @Html.ActionLink("Add Activity", "ActivityInsert", "Home", new { id = Model.Item2.ID}, new { @class = "add-butn" })
                                            <hr />
                                            <h2>Activities</h2>
                                            @foreach (Activity item in Model.Item1)
                                            {
                                                if (item.AppUserID != Model.Item2.ID)
                                                {
                                                    <ul class="nearby-contct">
                                                        <li>
                                                            <div class="nearly-pepls">
                                                                <figure>
                                                                    <img src="@Model.Item2.UserImagePath" alt="">
                                                                </figure>
                                                                <div class="pepl-info">
                                                                    <a href="/Home/ActivityUsers/@item.ID" title="">@item.Description</a>

                                                                    <input id="@Guid.NewGuid()" data-id="@item.ID" type="button" class="add-butn btnGoing" value="I Agree" />
                                                                    <input id="@Guid.NewGuid()" data-id="@item.ID" type="button" class="btn btn-default btnThinking" value="I'm Thinking" />
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                }
                                            }

                                            <hr />
                                            <h2>My Activities</h2>

                                            @foreach (Activity item1 in Model.Item1)
                                            {
                                                if (item1.AppUserID == Model.Item2.ID)
                                                {
                                                    <ul class="nearby-contct">
                                                        <li>
                                                            <div class="nearly-pepls">
                                                                <figure>
                                                                    <img src="@Model.Item2.UserImagePath" alt="">
                                                                </figure>
                                                                <a href="/Home/ActivityUsers/@item1.ID" title="">@item1.Description</a>
                                                                <div class="pepl-info">
                                                                    @Html.ActionLink("Activity Delete", "ActivityInsert", "Home", new { delete = true }, new { @class = "add-butn" })
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div><!-- centerl meta -->
                                <div class="col-lg-3">
                                    <aside class="sidebar static">
                                        @{ Html.RenderAction("_FollowList", "Home");}
                                    </aside>
                                </div><!-- sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(this).on("click", ".btnGoing", function yenile() {
            var id = $(this).data("id");
            $.ajax({
                url: '/Administrator/Activity/GoingUser/' + id,
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if (data.errortext == undefined) {
                        location.reload();
                    }
                    else {
                        alert(data.errortext);
                    }
                }
            });
        });
    });
    $(document).ready(function () {
        $(this).on("click", ".btnThinking", function yenile() {
            var id = $(this).data("id");
            $.ajax({
                url: '/Administrator/Activity/ThinkingUser/' + id,
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if (data.errortext == undefined) {
                        location.reload();
                    }
                    else {
                        alert(data.errortext);
                    }
                }
            });
        });
    });
</script>