@model Tuple<IEnumerable<Tweet>, AppUser>
@{
    ViewBag.Title = "TimeLine";
}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winku Social Network Toolkit</title>
    <link rel="icon" href="~/Content/images/fav.png" type="image/png" sizes="16x16">
    <link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
</head>
<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">
        <section>
            <div class="feature-photo">
                @if (Model.Item2.UserCoverImagePath != null)
                {
                    <figure><img src="@Model.Item2.UserCoverImagePath" alt="" width="1366" height="400"></figure>
                }
                else
                {
                    <figure><img src="/Content/images/resources/timeline-1.jpg" alt="" /></figure>
                }
                @using (Html.BeginForm("AddCoverImage", "AppUser", new { area = "Administrator" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="edit-phto">
                        <i class="fa fa-camera-retro"></i>
                        <label class="fileContainer">
                            Edit Cover Photo
                            <input type="file" name="CoverPhoto" />
                        </label>
                        <button type="submit">Add</button>
                    </div>
                }
                <div class="container-fluid">
                    <div class="row merged">
                        <div class="col-lg-2 col-sm-3">
                            <div class="user-avatar">
                                <figure>
                                    <img src="@Model.Item2.UserImagePath" alt="">
                                    @using (Html.BeginForm("AddDisplayImage", "AppUser", new { area = "Administrator" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="edit-phto">
                                            <i class="fa fa-camera-retro"></i>
                                            <label class="fileContainer">
                                                Edit Display Photo
                                                <input type="file" name="DisplayPhoto" />
                                            </label>
                                            <button type="submit">Add</button>
                                        </div>
                                    }

                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-9">
                            <div class="timeline-info">
                                <ul>
                                    <li class="admin-name">
                                        <h5>@Model.Item2.UserName</h5>
                                    </li>
                                    <li>
                                        <a class="active" href="/Home/TimeLine/@Model.Item2.ID" title="" data-ripple="">Time line</a>
                                        <a class="" href="/Home/TimeLineFriend/@Model.Item2.ID" title="" data-ripple="">Time line Friend</a>
                                        <a class="" href="/Home/TimelinePhoto/@Model.Item2.ID" title="" data-ripple="">Photos</a>
                                        <a class="" href="/Home/TimelineVideo/@Model.Item2.ID" title="" data-ripple="">Videos</a>
                                        <a class="" href="/Home/Friends/@Model.Item2.ID" title="" data-ripple="">Friends</a>
                                        <a class="" href="/Home/TimelineGroup/@Model.Item2.ID" title="" data-ripple="">Groups</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- top area -->
        <section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" id="page-contents">
                                <div class="col-lg-3">
                                    <aside class="sidebar static">
                                        @{ Html.RenderAction("_HashtagList", "Home");}
                                        @{ Html.RenderAction("_WhoToFollowList", "Home");}
                                    </aside>
                                </div><!-- sidebar -->
                                <div class="col-lg-6">
                                    <div class="loadMore">
                                        <div class="central-meta item">
                                            @foreach (Tweet tweet in Model.Item1)
                                            {
                                                AppUser gelen = (AppUser)Session["oturum"];
                                                PhotoService ps = new PhotoService();
                                                VideoService vs = new VideoService();
                                                CommentService cs = new CommentService();
                                                AppUserService aus = new AppUserService();
                                                TweetService ts = new TweetService();
                                                var photo = ps.GetActive().Where(x => x.TweetID == tweet.ID);
                                                var comment = cs.GetActive().Where(x => x.TweetID == tweet.ID);
                                                <div class="user-post">
                                                    <div class="friend-info">
                                                        @if (tweet.RetweetID != null)
                                                        {
                                                            Guid TweetID = new Guid(tweet.RetweetID.ToString());
                                                            var Tweet = ts.GetByID(TweetID);
                                                            <h5>Retweet</h5>
                                                            <div class="friend-info">
                                                                <figure>
                                                                    <img src="@Tweet.AppUser.UserImagePath" alt="">
                                                                </figure>
                                                                <div class="friend-name">
                                                                    @if (tweet.AppUserID != gelen.ID)
                                                                    {
                                                                        <ins><a href="~/Home/TimeLineFriend/@tweet.AppUserID" title="">@tweet.AppUser.UserName</a></ins>
                                                                    }
                                                                    else
                                                                    {
                                                                        <ins><a href="~/Home/TimeLine/@tweet.AppUserID" title="">@tweet.AppUser.UserName</a></ins>
                                                                    }
                                                                </div>
                                                            </div>
                                                            <hr />

                                                            <div class="friend-info" style="border-top-color:black">
                                                                <figure>
                                                                    <img src="@tweet.AppUser.UserImagePath" alt="">
                                                                </figure>
                                                                <div class="friend-name">
                                                                    @if (Tweet.AppUserID != gelen.ID)
                                                                    {
                                                                        <ins><a href="~/Home/TimeLineFriend/@Tweet.AppUserID" title="">@Tweet.AppUser.UserName</a></ins>
                                                                    }
                                                                    else
                                                                    {
                                                                        <ins><a href="~/Home/TimeLine/@Tweet.AppUserID" title="">@Tweet.AppUser.UserName</a></ins>
                                                                    }
                                                                    <span>published: @tweet.CreatedDate</span>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="friend-info">
                                                                <figure>
                                                                    <img src="@tweet.AppUser.UserImagePath" alt="">
                                                                </figure>
                                                                <div class="friend-name">
                                                                    @if (tweet.AppUserID != gelen.ID)
                                                                    {
                                                                        <ins><a href="~/Home/TimeLineFriend/@tweet.AppUserID" title="">@tweet.AppUser.UserName</a></ins>
                                                                    }
                                                                    else
                                                                    {
                                                                        <ins><a href="~/Home/TimeLine/@tweet.AppUserID" title="">@tweet.AppUser.UserName</a></ins>
                                                                    }
                                                                    <span>published: @tweet.CreatedDate</span>
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="post-meta">
                                                            @if (tweet.RetweetID != null)
                                                            {
                                                                Guid retweetID = new Guid(tweet.RetweetID.ToString());
                                                                var tweetItem = ts.GetByDefault(m => m.ID == retweetID);
                                                                photo = ps.GetAll().Where(x => x.TweetID == tweetItem.ID);
                                                                foreach (Photo photoItem in photo)
                                                                {
                                                                    <img src="@photoItem.ImagePath" alt="">
                                                                }
                                                            }
                                                            else
                                                            {
                                                                foreach (Photo photoItem1 in photo)
                                                                {
                                                                    <img src="@photoItem1.ImagePath" alt="">
                                                                }
                                                            }


                                                            @if (tweet.RetweetID != null)
                                                            {
                                                                Guid retweetID = new Guid(tweet.RetweetID.ToString());
                                                                var tweetItem = ts.GetByDefault(m => m.ID == retweetID);
                                                                if (tweetItem.TweetVideoID != null)
                                                                {
                                                                    var tweetVideoID = tweet.TweetVideoID.ToString();
                                                                    Guid id = Guid.Parse(tweetVideoID);
                                                                    Video video = vs.GetByID(id);
                                                                    <video width="400" controls>
                                                                        <source src="@video.VideoPath" type="" />
                                                                    </video>
                                                                }

                                                            }
                                                            else
                                                            {
                                                                if (tweet.TweetVideoID != null)
                                                                {
                                                                    var tweetVideoID = tweet.TweetVideoID.ToString();
                                                                    Guid id = Guid.Parse(tweetVideoID);
                                                                    Video video = vs.GetByID(id);
                                                                    <video width="400" controls>
                                                                        <source src="@video.VideoPath" type="" />
                                                                    </video>
                                                                }
                                                            }
                                                            <div class="we-video-info">
                                                                <ul>
                                                                    <li>
                                                                        <span class="comment" data-toggle="tooltip" title="Comments">
                                                                            <i class="fa fa-comments-o"></i>
                                                                            <ins>@tweet.Comments.Count(p => p.TweetID == tweet.ID)</ins>
                                                                        </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="like btnLike" data-id="@tweet.ID" id="@Guid.NewGuid()" data-toggle="tooltip" title="like">
                                                                            <i class="ti-heart"></i>
                                                                            <ins>@tweet.Like</ins>
                                                                        </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="dislike btnDisLike" data-id="@tweet.ID" id="@Guid.NewGuid()" data-toggle="tooltip" title="dislike">
                                                                            <i class="ti-heart-broken"></i>
                                                                            <ins>@tweet.Dislike</ins>
                                                                        </span>
                                                                    </li>
                                                                    <li class="social-media">
                                                                        <div>@Html.ActionLink("Retweet", "Retweet", "Tweet", new { area = "Administrator", id = tweet.ID }, new { @class = "btn btn-default" })</div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="description">
                                                                <p>
                                                                    @tweet.TweetText
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="coment-area">
                                                        <button title="" id="@tweet.ID" class="btn-block Yorum">See Comments</button>
                                                        <div id="#@tweet.ID" style="display:none">
                                                            <ul class="we-comet">
                                                                @foreach (Comment itemComment in comment)
                                                                {
                                                                    var ID = Guid.NewGuid();
                                                                    var reviewOfComment = cs.GetAll().Where(x => x.CommentID == itemComment.ID);
                                                                    TimeSpan sonuc = DateTime.Now - Convert.ToDateTime(itemComment.CreatedDate);
                                                                    <li>
                                                                        <div class="comet-avatar">
                                                                            <img src="@itemComment.AppUser.UserImagePath" alt="">
                                                                        </div>
                                                                        <div class="we-comment">
                                                                            <div class="coment-head">
                                                                                <h5>@Html.ActionLink(itemComment.AppUser.UserName, "TimeLine", "Home", new { id = itemComment.AppUserID }, null)</h5>
                                                                                <span>@sonuc.Days.ToString()</span>
                                                                                <button id="@ID" class="cevapla">Cevapla</button>
                                                                                <div class="myDIV" id="#@ID" style="display:none">
                                                                                    <input class="form-control txtYorum" type="text" name="commenttext" id="@itemComment.ID" />
                                                                                    <button id="@itemComment.ID" type="submit" class="btn btn-default reply">Yorum Yap</button>
                                                                                </div>
                                                                            </div>
                                                                            <p>@itemComment.TweetComment</p>
                                                                        </div>
                                                                        @foreach (Comment itemReviewofComment in reviewOfComment)
                                                                        {
                                                                            TimeSpan sonuc1 = DateTime.Now - Convert.ToDateTime(itemReviewofComment.CreatedDate);
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="comet-avatar">
                                                                                        <img src="@itemReviewofComment.AppUser.UserImagePath" alt="">
                                                                                    </div>
                                                                                    <div class="we-comment">
                                                                                        <div class="coment-head">
                                                                                            <h5>@Html.ActionLink(itemReviewofComment.AppUser.UserName, "TimeLine", "Home", new { id = itemComment.AppUserID }, null)</h5>
                                                                                            <span>@sonuc1.Days.ToString()</span>
                                                                                        </div>
                                                                                        <p>@itemReviewofComment.TweetComment</p>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        }
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                        <div class="post-comment">
                                                            <div>
                                                                <input class="form-control" type="text" name="commenttext" id="@tweet.ID" />
                                                                <button id="@tweet.ID" type="submit" class="btn btn-default btnYorum">Yorum Yap</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div><!-- centerl meta -->
                                <div class="col-lg-3">
                                    <aside class="sidebar static">
                                        @{ Html.RenderAction("_FollowList", "Home");}
                                    </aside>
                                </div><!-- sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>
<script type="text/javascript">
    $(".txtYorum").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Administrator/Tweet/AutocompleteSearch",
                type: "GET",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        if (item.UserName != undefined) {
                            return { label: item.UserName, value: item.UserName };
                        }
                        return { label: item.HashTag, value: item.HashTag };
                    }))
                },
            })
        },
        messages: {
            noResults: "", results: ""
        }
    });
    $(document).ready(function () {
        $(this).on("click", ".Yorum", function () {
            var id = $(this).attr("id");
            var x = document.getElementById("#" + id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        });
    });
    $(document).ready(function () {
        $(this).on("click", ".btnLike", function yenile() {
            var id = $(this).data("id");
            var name = $(this).attr("id");
            var tr = "#" + name;
            $.ajax({
                url: '/Administrator/Tweet/Like/' + id,
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if (data.errortext == undefined) {
                        $(tr).html(data.likeItem);
                        location.reload();
                    }
                    else {
                        alert(data.errortext);
                    }
                }
            });
        });
    });
    $(document).ready(function () {
        $(this).on("click", ".btnDisLike", function yenile() {
            var id = $(this).data("id");
            var name = $(this).attr("id");
            var tr = "#" + name;
            $.ajax({
                url: '/Administrator/Tweet/DisLike/' + id,
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if (data.errortext == undefined) {
                        $(tr).html(data.dislike);
                        location.reload();
                    }
                    else {
                        alert(data.errortext);
                    }
                }
            });
        });
    });
    $(document).ready(function () {
        $(this).on("click", ".btnYorum", function () {
            var id = $(this).attr("id");
            var tr = "#" + id;
            var commenttext = $(tr).val();
            $.ajax({
                type: 'POST',
                url: '/Administrator/Tweet/CommentInsert',
                data: { commenttext: commenttext, id: id },
                success: function (data) {
                    if (data.result == 1) {
                        alert(data.message);
                    }
                    location.reload();
                }
            });
        });
    });
    $(document).ready(function () {
        $(this).on("click", ".reply", function () {
            var id = $(this).attr("id");
            var tr = "#" + id;
            var commenttext = $(tr).val();
            $.ajax({
                type: 'POST',
                url: '/Administrator/Tweet/ReviewOfComment',
                data: { commenttext: commenttext, id: id },
                success: function (data) {
                    if (data.result == 1) {
                        alert(data.message);
                    }
                    location.reload();
                }
            });
        });
    });
    $(document).ready(function () {
        $(this).on("click", ".cevapla", function () {
            var id = $(this).attr("id");
            var ID = "#" + id;
            var x = document.getElementById(ID);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        });
    });
</script>
